@import '../../styles/colors';

.body {
  height: 100px;
  width: 100px;
  background-color: $primary-color-1;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.items {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.item {
  display: flex;
  flex: 1;
  justify-content: center;
}
